body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: $text-color;
}

a {
    color: $text-color;
}

a:hover{
    color: $text-color-alt;
    font-weight: bold;
    text-decoration: none;
}