# Large binaries and intermediates (SoundFont, WAV stems, mixes). Re-created by scripts/music/render.py.
work/

# Review renders. Re-created by scripts/music/render.py --preview and scripts/music/typing_previews.py.
previews/
