$body-bg: #AAB6CA !default;
$header-text-height: 50px !default;
$subheader-text-height: 20px !default;
$gutter-width: 10px !default;

@import "layout/general";
@import "layout/typography";

@import "component/landing";
@import "component/footer";
@import "component/section";

@import "keyframes/general";



