extends layout

block content
  article.article
    section.header
      div.header-text
        p.name Hi, I'm Joelle.
        span.subheader

      section.contact
        ul.list-unstyled
          li.contact-detail 
            i(class='fa fa-mobile')
            a(href='tel:+6593370304') +65 9337 0304
          li.contact-detail
            i(class='fa fa-envelope')
            a(href='mailto:contact@joelleortiz.me') contact@joelleortiz.me
          li.contact-detail 
            i(class='fa fa-mouse-pointer')
            a(href='http://www.joelleortiz.me') www.joelleortiz.me
          li.contact-detail
            i(class='fa fa-sticky-note')
            a(href='/cv.html') About Me