extends layout

block content
  article.article
    section.header
      //div(class='navbar-fixed-top navbar')
        div.container
          div.navbar-header blabla
          nav(class='collapse navbar-collapse navbar-right')
            ul(class='nav navbar-nav')
              li tae
      div.header-text
        p.name Hi, I'm Joelle.
        p.subheader I'm a Programmer.

      section.contact
        ul.list-unstyled
          li 
            i(class='fa fa-mobile')
            a(href='tel:+6593370304') +65 9337 0304
          li 
            i(class='fa fa-envelope')
            a(href='mailto:contact@joelleortiz.me') contact@joelleortiz.me
          li 
            i(class='fa fa-mouse-pointer')
            a(href='http://www.joelleortiz.me') www.joelleortiz.me
    //section.content
      div.experience
        div.section-header
          h5.text-uppercase Experience
        div.section-content
          ul.list-unstyled
            each job in contents['index.json'].metadata.jobs
              li
                div.title=job.title
                div.description=job.description