.header {
    height: 100vh;
    padding-top: calc(50vh - (#{$header-text-height} + #{$subheader-text-height} + #{$gutter-width*2})/2);
    position: relative;
}

.header-text {
    margin: 0 auto;
    width: 100%;
    height: calc(#{$header-text-height} + #{$subheader-text-height} + #{$gutter-width*2});    
    padding: $gutter-width;

    @include respond-to('sm'){
        width: 50%;
        padding: 0;
    }

    .name {
        font-size: xx-large;
        height: $header-text-height;
    }

    .subheader {
        font-size: 1.25em;
        height: $subheader-text-height;
    }
}

.article {
    width: 100%;
    margin: 0 auto;
}

.contact {
    animation: fromTop 1s;
    padding: $gutter-width;
    font-size: 1em;
    position: absolute;
    height: $contact-detail-height*5 + $gutter-width*2;
    bottom: $gutter-width*2;
    right: $gutter-width*2;
    left:$gutter-width*2;
    background-color: $block-bg4;

    @include respond-to('sm'){
        width: $contact-width + $gutter-width*2;
        left: auto;
    }

    > ul {
        margin-bottom: 0;
        .contact-detail{
            padding:2px;
        }
    }
}