.header {
    height: 100vh;
    padding-top: calc(50vh - #{$header-text-height/2});
    position: relative;
}

.header-text {
    margin: 0 auto;
    width: 100%;
    height: calc(#{$header-text-height} + #{$subheader-text-height} + #{$gutter-width*2});    
    padding: $gutter-width;

    @include respond-to('md'){
        width: 50%;
        padding: 0;
    }

    .name {
        font-size: xx-large;
        height: $header-text-height;
    }

    .subheader {
        height: $subheader-text-height;
    }
}

.article {
    width: 100%;
    margin: 0 auto;
}

.contact {
    position: absolute;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    padding: 10px;
    font-size: smaller;
    width: 170px;
    height: 70px;
    bottom: $gutter-width*2;
    right: $gutter-width*2;
}