.title {
    font-weight: bold;
}

.section-header {
    transform: translate(-100%,0) rotate(270deg) scale(1.5,1.5);
    transform-origin: bottom right;
    display: inline-block;

    > h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.section-content {
    padding-left: 10px;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.98, 0.81);
    animation-duration: 1s;
}