.title {
    font-weight: bold;
}

.section-header {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.98, 0.81);
    animation-duration: 1s;
}

.section-content {
    padding-left: 10px;
}

.cv-content{
    width: 80vw;
    margin: 0 auto;
}

.experience {
    .job {
        padding-bottom: $gutter-width;
    }
}